body {
    margin: 0;
    font-family: "General Sans", sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.q {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
    width: 80%;
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  
}

.answer {
    display: flex;
   
    justify-content: space-between;
    margin-top: 10px;
}

.answerbox1 {
    padding: 5px 10px;
    background-color: #b7ffb9;
    color: white;
    border-radius: 5px;
}

#resultdis {
    font-size: 20px;
    margin-bottom: 20px;
}
